@model Domain.Match

@{
    ViewBag.Title = "CloseMatch";
}

<div class="row">
    <div class="col-md-6">
        <h2>Close Match</h2>
        <h3>Tournament: @Model.Date.Tournament.Name</h3>
        <h4>Date: @Model.Date.Name</h4>
    </div>
    <div class="col-md-6">
        <br />
        <table>
            <tr>
                <td width="200px" align="center">
                    @if (!string.IsNullOrEmpty(Model.Local.Logo))
                    {
                        <img src="@Url.Content(Model.Local.Logo)" alt="Image" style="width:120px;height:120px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td width="50px" align="center">
                    <h2>Vs.</h2>
                </td>
                <td width="200px" align="center">
                    @if (!string.IsNullOrEmpty(Model.Visitor.Logo))
                    {
                        <img src="@Url.Content(Model.Visitor.Logo)" alt="Image" style="width:120px;height:120px;max-width: 100%; height: auto;" />
                    }
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h3>@Model.Local.Name</h3>
                </td>
                <td width="50px" align="center"></td>
                <td align="center">
                    <h3>@Model.Visitor.Name</h3>
                </td>
            </tr>
        </table>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MatchId)

        <div class="form-group">
            @Html.LabelFor(model => model.LocalGoals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalGoals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalGoals, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisitorGoals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisitorGoals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VisitorGoals, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Close Match" class="btn btn-primary" onclick="return confirm('Are you sure to close the match?');" />
                @Html.ActionLink("Back to Date", "DetailsDate", new { id = Model.DateId }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
