@model CompeTournament.Backend.Data.Entities.Group
@{
    ViewData["Title"] = "Detalles del Grupo";
}

<h1>Info y Detalles del Grupo</h1>

<h2>Liga, Asociacion, Federacion</h2>
<p>
    <a class="btn btn-success" asp-action="Index">
        <span class="fa fa-plus"></span>
        Regresar al Listado
    </a>
    <a class="btn btn-primary" asp-action="CreateLeague" asp-route-id="@Model.Id">
        <span class="fa fa-plus"></span>
        Registrar Liga, Asociacion o Federacion
    </a>
</p>
@if (Model.Leagues.Count() == 0)
{
    <div>
        No tienes ligas, asociaciones o federaciones registradas para este torneo, prueba agregando algunas
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Leagues)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a class="btn btn-info" asp-action="DetailsLeague" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Ver Equipos
                        </a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Modificar
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Eliminar
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

<h2>Proximos Partidos, Enfrentamientos, Encuentros</h2>
<p>

    <a class="btn btn-primary" asp-action="CreateMatch" asp-route-id="@Model.Id">
        <span class="fa fa-plus"></span>
        Registrar Enfrentamiento
    </a>
</p>
@if (Model.Matches.Count() == 0)
{
    <div>
        No tienes enfrentamientos registrados para este torneo, prueba agregando algunos
    </div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Local
                </th>
                <th>
                    Visitante
                </th>
                <th>
                    Resultados
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Matches)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visitor.Name)
                    </td>
                    <td></td>

                    <td>
                        <a class="btn btn-info" asp-action="DetailsMatch" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Ver Equipos
                        </a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Modificar
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="fa fa-plus"></span>
                            Eliminar
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

<div id="tableHolder">
    <partial name="_MembersPartial" model="Model.GroupUsers" />
</div>

