@model IEnumerable<CompeTournament.Backend.Data.Entities.Group>
@{
    ViewData["Title"] = "Index";
}

<h1>Mis Grupos de seguimiento para Competencias o Torneos</h1>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">
        <span class="fa fa-plus"></span>
        Registrar nueva Competencia o Torneo
    </a>
</p>
@if (@Model.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Requisitos
                </th>
                <th>
                    Miembros
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TournamentType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requirements)
                    </td>
                    <td>
                        1
                    </td>
                    <td>

                        @{
                            var ugroup = item.GroupUsers.Where(p => p.ApplicationUser.Email == User.Identity.Name).FirstOrDefault();

                            if (ugroup == null)
                            {
                                if (item.CreatedUser.Email == User.Identity.Name)
                                {
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                                        <span class="fa fa-plus"></span>
                                        Entrar al grupo
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success" asp-action="JoinRequest" asp-route-id="@item.Id">
                                        <span class="fa fa-plus"></span>
                                        Solicitar Membrecia
                                    </a>
                                }

                            }
                            else
                            {
                                if (ugroup.IsAccepted && !ugroup.IsBlocked)
                                {
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                                        <span class="fa fa-plus"></span>
                                        Entrar al grupo
                                    </a>
                                    <a class="btn btn-success" asp-action="Leave" asp-route-id="@item.Id">
                                        <span class="fa fa-plus"></span>
                                        Abandonar Grupo (Perderas todos tus puntos)
                                    </a>
                                }
                                else
                                {
                                    <div>
                                        No tienes autorizacion para entrar a este grupo
                                    </div>
                                }
                            }
                        }

                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else
{
    <div>No tienes grupos creados aun :'(, porfavor puncha el boton para crear algunos :D</div>
}

