@*@model PagedList.IPagedList<Domain.User>
@using PagedList.Mvc;*@

@model IEnumerable<Domain.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FavoriteTeam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Points)
        </th>
        <th>
            # Groups
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.FavoriteTeam.Logo))
                {
                    <img src="@Url.Content(item.FavoriteTeam.Logo)" alt="Image" style="width:60px;height:60px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Picture))
                {
                    <img src="@item.PictureFullPath" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroups.Count)
            </td>
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger", onclick = "return confirm('Areyou sure to delete this record?');" })
        </tr>
    }

</table>



@*Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), of: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
        ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))*@
