
@model IEnumerable<Domain.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Status</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StatusId }) |
                @Html.ActionLink("Details", "Details", new { id=item.StatusId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StatusId })
            </td>
        </tr>
    }

</table>


@*@model IEnumerable<Domain.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatusId })
        </td>
    </tr>
}

</table>*@
